*.*
Timestamp
!*AnimBlueprint*.uasset
!*AnimationBlueprint*.uasset
!*AnimBP*.uasset
!*Physics*.uasset

!/Content/Blueprints/**
!/Content/UI/Widgets/**
!/Content/PhysicalMaterials/**

!/Config/DefaultCrypto.ini
!/Config/DefaultEngine.ini
!/Config/DefaultGame.ini
!/Config/DefaultInput.ini

!/Source/** 

/Saved/**
/Staging/**